{% if editedCategory.parent is defined and editedCategory.parent == null %}
    <option value="0" selected>No parent</option>
{% else %}
    <option value="0">No parent</option>
{% endif %}

{% for category in categories.categoriesList %}
    {% if editedCategory.parent.getId() is defined and editedCategory.parent.getId() == category.id %}
        <option value="{{ category.id }}" selected>{{ category.name }}</option>
    {% else %}
        <option value="{{ category.id }}">{{ category.name }}</option>
    {% endif %}
{% endfor %}
